<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Please enter values in all fields!</h1>
      <a href="form.cshtml">Back to form</a>
    </div>
  </body>
</html>
